<div class="animated fadeIn">
<div class="row">
    	<div class="cell">
            <div class="card text-white box">
                <div class="card-body side">
                    <div class="h4 text-uppercase font-weight-bold text-center" >CELL 1</div>
                    <div class="card text-white  deliverstat">
                        <div class="h5 text-center">A126598440#01</div>
                        <div class="h5 text-center">A126598440#02</div>
                        <div class="h5 text-center">DELIVERY (PREP)</div>             
                    </div>
                    <div class="card text-white readystat" >
                        <div class="h5 text-center">A126598440#01</div>
                        <div class="h5 text-center">A126598440#02</div>
                        <div class="h5 text-center">READY (STI)</div>             
                    </div>
                </div>
            </div>
        </div>
    	<div class="cell">
            <div class="card text-white box">
                <div class="card-body side">
                    <div class="h4 text-uppercase font-weight-bold text-center">CELL 2</div>
                    <div class="card text-white  deliverstat">
                        <div class="h5 text-center">A126598440#01</div>
                        <div class="h5 text-center">A126598440#02</div>
                        <div class="h5 text-center">DELIVERY (PREP)</div>             
                    </div>
                    <div class="card text-white readystat">
                        <div class="h5 text-center">A126598440#01</div>
                        <div class="h5 text-center">A126598440#02</div>
                        <div class="h5 text-center">READY (STI)</div>             
                    </div>
                </div>
            </div>
        </div>
    	<div class="cell">
            <div class="card text-white box">
                <div class="card-body side">
                    <div class="h4 text-uppercase font-weight-bold text-center">CELL 3</div>
                    <div class="card text-white    deliverstat">
                        <div class="h5 text-center">A126598440#01</div>
                        <div class="h5 text-center">A126598440#02</div>
                        <div class="h5 text-center">DELIVERY (PREP)</div>             
                    </div>
                    <div class="card text-white   readystat">
                        <div class="h5 text-center">A126598440#01</div>
                        <div class="h5 text-center">A126598440#02</div>
                        <div class="h5 text-center">READY (STI)</div>             
                    </div>
                </div>
            </div>
        </div>
    	<div class="cell">
            <div class="card text-white box">
                <div class="card-body side">
                    <div class="h4 text-uppercase font-weight-bold text-center">CELL 4</div>
                    <div class="card text-white   nodatastat">
                        <div class="h5 text-center">N/A (PREP)</div>             
                    </div>
                    <div class="card text-white   nodatastat">
                        <div class="h5 text-center">N/A (STI)</div>             
                    </div>
                </div>
            </div>
        </div>
    	<div class="cell">
            <div class="card text-white box">
                <div class="card-body side">
                    <div class="h4 text-uppercase font-weight-bold text-center">CELL 5</div>
                    <div class="card text-white    deliverstat">
                        <div class="h5 text-center">A126598440#01</div>
                        <div class="h5 text-center">A126598440#02</div>
                        <div class="h5 text-center">DELIVERY (PREP)</div>             
                    </div>
                    <div class="card text-white  readystat">
                        <div class="h5 text-center">A126598440#01</div>
                        <div class="h5 text-center">A126598440#02</div>
                        <div class="h5 text-center">READY (STI)</div>             
                    </div>
                </div>
            </div>
        </div>
    	<div class="cell">
            <div class="card text-white box">
                <div class="card-body side">
                    <div class="h4 text-uppercase font-weight-bold text-center">CELL 6</div>
                    <div class="card text-white    nodatastat">
                        <div class="h5 text-center">N/A (PREP)</div>             
                    </div>
                    <div class="card text-white   nodatastat">
                        <div class="h5 text-center">N/A (STI)</div>             
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card text-white box">
                <div class="card-body side">
                    <div class="h4 text-uppercase font-weight-bold text-center">CELL 7</div>
                    <div class="card text-white    nodatastat">
                        <div class="h5 text-center">N/A (PREP)</div>             
                    </div>
                    <div class="card text-white   nodatastat">
                        <div class="h5 text-center">N/A (STI)</div>             
                    </div>
                </div>
            </div>
        </div>
</div>

<!--second row-->
<div class="row">
    <div class="cell">
        <div class="card text-white box">
            <div class="card-body side">
                <div class="h4 text-uppercase font-weight-bold text-center" >CELL 8</div>
                <div class="card text-white    deliverstat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">A126598440#03</div>
                    <div class="h5 text-center">DELIVERY (PREP)</div>             
                </div>
                <div class="card text-white   readystat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">READY (STI)</div>             
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card text-white box">
            <div class="card-body side">
                <div class="h4 text-uppercase font-weight-bold text-center">CELL 9</div>
                <div class="card text-white    deliverstat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">DELIVERY (PREP)</div>             
                </div>
                <div class="card text-white   readystat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">READY (STI)</div>             
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card text-white box">
            <div class="card-body side">
                <div class="h4 text-uppercase font-weight-bold text-center">CELL 10</div>
                <div class="card text-white    deliverstat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">DELIVERY (PREP)</div>             
                </div>
                <div class="card text-white   deliverstat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">DELIVERY (STI)</div>             
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card text-white box">
            <div class="card-body side">
                <div class="h4 text-uppercase font-weight-bold text-center">CELL 11</div>
                <div class="card text-white    deliverstat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">DELIVERY (PREP)</div>             
                </div>
                <div class="card text-white   readystat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">READY (STI)</div>             
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card text-white box">
            <div class="card-body side">
                <div class="h4 text-uppercase font-weight-bold text-center">CELL 12</div>
                <div class="card text-white    deliverstat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">DELIVERY (PREP)</div>             
                </div>
                <div class="card text-white   readystat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">READY (STI)</div>             
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card text-white box">
            <div class="card-body side">
                <div class="h4 text-uppercase font-weight-bold text-center">CELL 13</div>
                <div class="card text-white    deliverstat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">DELIVERY (PREP)</div>             
                </div>
                <div class="card text-white   readystat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">READY (STI)</div>             
                </div>
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="card text-white box">
            <div class="card-body side">
                <div class="h4 text-uppercase font-weight-bold text-center">CELL 14</div>
                <div class="card text-white    readystat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">READY (PREP)</div>             
                </div>
                <div class="card text-white   readystat">
                    <div class="h5 text-center">A126598440#01</div>
                    <div class="h5 text-center">A126598440#02</div>
                    <div class="h5 text-center">READY (STI)</div>             
                </div>
            </div>
        </div>
    </div>
</div>
</div>