<div class="animated fadeIn">
    <div class="row">

        <div class="col-md-2 col-sm-4">
            <div class="card text-white bg-primary">
              <div class="card-body">
                <div class="h2 text-uppercase font-weight-bold text-center">A BUILDING</div>
                <hr style="height:1px;border-width:0;color:gray;background-color:rgb(224, 229, 252)">
                <div class="row h4">
                    <div class="col text-right">
                      Prepared
                    </div>
                    <div class="col">
                      6
                    </div>
                </div>
                <div class="row h4">
                    <div class="col text-right">
                      Ready
                    </div>
                    <div class="col">
                      12
                    </div>
                </div>
                <div class="row h4">
                    <div class="col text-right">
                      Delivery
                    </div>
                    <div class="col">
                      6
                    </div>
                </div>
                <div class="row h4">
                    <div class="col text-right">
                      Finished
                    </div>
                    <div class="col">
                      6
                    </div>
                </div>
    
                <div class="chart-wrapper mx-auto" style="height:20px;width:80px;">
                  
                </div>
              </div>
            </div>
        </div><!--/.col-->

        <div class="col-md-2 col-sm-4">
            <div class="card text-white bg-primary">
              <div class="card-body">
                <div class="h2 text-uppercase font-weight-bold text-center">B BUILDING</div>
                <hr style="height:1px;border-width:0;color:gray;background-color:rgb(224, 229, 252)">
                <div class="row h4">
                    <div class="col text-right">
                      Prepared
                    </div>
                    <div class="col">
                      6
                    </div>
                </div>
                <div class="row h4">
                    <div class="col text-right">
                      Ready
                    </div>
                    <div class="col">
                      12
                    </div>
                </div>
                <div class="row h4">
                    <div class="col text-right">
                      Delivery
                    </div>
                    <div class="col">
                      6
                    </div>
                </div>
                <div class="row h4">
                    <div class="col text-right">
                      Finished
                    </div>
                    <div class="col">
                      6
                    </div>
                </div>
    
                <div class="chart-wrapper mx-auto" style="height:20px;width:80px;">
                  
                </div>
              </div>
            </div>
        </div><!--/.col-->


        
    </div><!--/.row-->
</div>
  