<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="row">
        <div class="col-md-10">

        </div>
        <div class="from-group col-md-2">
          <button type="button" class="btn btn-info pull-right" style="color: white;"  (click)="fetchCheckedIDs()">
            <i class="fa icon-docs"></i>  &nbsp; Export to Excel
          </button>
        </div>
      </div>

      <!-- Nav tabs -->
      <tabset>
        <tab heading="Preparation">
          <div style="overflow:auto;" >
            <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" class="row-border hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>PO#</th>
                    <th>Cell</th>
                    <th>Create Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Select to print <input type="checkbox" [(ngModel)]="isPrepChkAll" (change)="checkUncheckAll(1)"   style="float: right; vertical-align: middle;"></th>
                  </tr>
                </thead>
                <tbody *ngIf="listPrep?.length != 0">
                  <tr *ngFor="let data of listPrep" (click)="clickRow(data)">
                    <td><div *ngFor="let epo of data.pOlist">{{ epo.po }}<br></div></td>
                    <td>{{ data.cell }}</td>
                    <td>{{ data.generateAt | date: "yyyy/MM/dd HH:mm:ss"  }}</td>
                    <td>{{ data.status }}</td>
                    <td style="width:7%">
                      <!--
                      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" (click)="printModal.show()">
                        <i class="fa fa-print"></i>
                      </button>-->
                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" (click)="deleteModalP.show()">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                    <td style="width:12%">
                      <div class="form-check form-check-inline" style="align-items: center;">
                        <label class="form-check-label">
                          <input  class="form-check-input" type="checkbox" [(ngModel)]="data.isCheck"  (change)="fetchSelectedPrepItems()" id="printCheck" >
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="listPrep?.length == 0">
                  <tr>
                    <td colspan="3" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </tab>
        <tab heading="Stitching"><!-- *ngIf="flags == 'XX' "-->
          <div style="overflow:auto;" >
            <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" class="row-border hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>PO#</th>
                    <th>Cell</th>
                    <th>Create Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Select to print <input type="checkbox" [(ngModel)]="isStiChkAll" (change)="checkUncheckAll(2)"   style="float: right; vertical-align: middle;"></th>
                  </tr>
                </thead>
                <tbody *ngIf="listSti?.length != 0">
                  <tr *ngFor="let data of listSti" (click)="clickRow(data)">
                    <td><div *ngFor="let epo of data.pOlist">{{ epo.po }}<br></div></td>
                    <td>{{ data.cell }}</td>
                    <td>{{ data.generateAt | date: "yyyy/MM/dd HH:mm:ss"  }}</td>
                    <td>{{ data.status }}</td>
                    <td style="width:7%">
                      <!--
                      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" (click)="printModal.show()">
                        <i class="fa fa-print"></i>
                      </button>-->
                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" (click)="deleteModalS.show()">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                    <td style="width:12%">
                      <div class="form-check form-check-inline" style="align-items: center;">
                        <label class="form-check-label">
                          <input  class="form-check-input" type="checkbox" [(ngModel)]="data.isCheck"  (change)="fetchSelectedStiItems()" id="printCheck" >
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="listSti?.length == 0">
                  <tr>
                    <td colspan="3" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- MODAAALLLLL-->
<div bsModal #printModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Print</h4>
        <button type="button" class="close" (click)="printModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="print-section">
          <!--Your html stuff that you want to print-->
          <style>
            @page { size: 80mm 40mm } /* output size */
            body.receipt .sheet { width: 80mm; height: 40mm } /* sheet size */
            @media print { body.receipt { width: 80mm } } /* fix for Chrome */
          </style>
          <div class="row">
            <div class="col-sm-6">
              <table style="width: 330px; font-size: 11px;">
                <tbody>
                  <tr>
                    <td rowspan="9" style="width:30%"><!--<qrcode [qrdata]="selectedData?.qrCode" [width]="135" [errorCorrectionLevel]="'M'" [margin]="1" [elementType]="'url'"></qrcode>--></td>
                    <td colspan="2" style="width:70%">
                    <p style="text-align:center" *ngIf="selectedData?.kind == 'STI'"><strong>STITCHING</strong></p>
                    <p style="text-align:center" *ngIf="selectedData?.kind == 'PREP'"><strong>PREPARATION</strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:7.5085%">Cell</td>
                    <td style="width:42.4346%">&nbsp;{{selectedData?.cell}}</td>
                  </tr>
                  <tr>
                    <td style="width:7.5085%">Article</td>
                    <td style="width:42.4346%">&nbsp;{{selectedData?.pOlist[0].article}}</td>
                  </tr>
                  <tr>
                    <td style="width:7.5085%">PO</td>
                    <td style="width:42.4346%"><div *ngFor="let data of selectedData?.pOlist">&nbsp;&bull; {{data.po}}<br></div></td>
                  </tr>
                  <tr>
                    <td style="width:7.5085%">Qty</td>
                    <td style="width:42.4346%">&nbsp;{{selectedData?.totQty}}</td>
                  </tr>
                  <tr>
                    <td style="width:7.5085%">&nbsp;</td>
                    <td style="width:42.4346%">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="width:7.5085%">Date</td>
                    <td style="width:42.4346%">{{selectedData?.generateAt | date: "yyyy/MM/dd HH:mm:ss" }}</td>
                  </tr>
                </tbody>
              </table>

            </div>

            <div class="col"></div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="printModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="printData(selectedData)"  printSectionId="print-section" ngxPrint>Print</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteModalP="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" (click)="deleteModalP.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Delete this merged sequence? </p> <div *ngFor="let data of selectedData?.pOlist"> {{data.po}} </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteModalP.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteData('P', selectedData)">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<div bsModal #deleteModalS="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" (click)="deleteModalS.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Delete this merged sequence? </p> <div *ngFor="let data of selectedData?.pOlist"> {{data.po}} </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModalS.hide()">Close</button>
        <button type="button" class="btn btn-danger"(click)="deleteData('S', selectedData)">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- MODAAALLLLL-->




