<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>U00138</td>
                <td>Restu Adi</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" >
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Role
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Role Name</th>
                <th>Role Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ngadmin</td>
                <td>ngadminin</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" >
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
