<div class="animated fadeIn">
  <div style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
  <div class="row">

      <div style="width: 20%; padding-left: 4px; padding-right: 4px;" *ngFor="let data of allDataBuilding">
          <div class="card text-white bg-primary">
            <div class="card-body"  (click)="showLine(data.buildingNo)">
              <div class="h2 text-uppercase font-weight-bold text-center">{{data.buildingName}}</div>
              <hr style="height:1px;border-width:0;color:gray;background-color:rgb(224, 229, 252)">

              <div class="row h4">
                <div class="col text-right">
                  Prepared
                </div>
                <div class="col">
                  {{data.prepared}}
                </div>
              </div>
              <div class="row h4">
                  <div class="col text-right">
                    Ready
                  </div>
                  <div class="col">
                    {{data.ready}}
                  </div>
              </div>
              <div class="row h4">
                  <div class="col text-right">
                    Delivery
                  </div>
                  <div class="col">
                    {{data.delivery}}
                  </div>
              </div>
              <div class="row h4">
                  <div class="col text-right">
                    Finished
                  </div>
                  <div class="col">
                    {{data.finished}}
                  </div>
              </div>

              <div class="chart-wrapper mx-auto" style="height:20px;width:80px;">

              </div>
            </div>
          </div>
      </div><!--/.col-->

  </div><!--/.row-->
</div>
</div>

